/GuiComponents/nbproject/private/
/nbproject/private/
/build/
/MidiUtil/build/
/Rtaudio4Netbeans/build/
/MicroSequencer/build/
/MidiSong/build/
/GuiComponents/build/
/Conductor/build/
/MediaContainer/build/
/MediaContainerExplorer/build/
/SongControl2/build/
/SongView2/build/
/TrainingDiary/build/
/WellcomeWindow/build/
/dist/
/RtAudio4Netbeans2/build/
/MediaContainerExplorer2/nbproject/private/
/InstallNSIS/dist/
/MediaContainer2/build/
/MediaContainerExplorer2/build/
/MidiSong/nbproject/private/
/exampleMedia/BrahmsRequiem.fmc
/exampleMedia/
/Wii4Netbeans/build/
/Wii4Netbeans/nbproject/private/
/*.log
